<div class="well accordion" id="contact-accordion">
  <h4>Contact Us</h4>
  <p>We are open {{ contactInfo.HOURS }}</p>
  <div class="accordion" id="contact-accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-accordion" href="#contact-phone">
          <img src="/static/img/icons/phone.svg" alt="phone.svg" class="icon">
          Phone
        </a>
      </div>
      <div id="contact-phone" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>Office (open Mon-Thur 9-5)</p>
          <p><a ng-href="tel:{{ contactInfo.TEL }}" class="btn btn-primary">{{ contactInfo.TEL }}</a></p>
          <p>After Hours Call Line (open 24/7)</p>
          <p><a href="tel:4065793317" class="btn btn-danger">406-579-3317</a></p>
        </div>
      </div>
    </div>
    <div class="accordion-group" ng-if="showEmail">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-accordion" href="#contact-email">
          <img src="/static/img/icons/mail.svg" alt="mail.svg" class="icon">
          Email
        </a>
      </div>
      <div id="contact-email" class="accordion-body collapse">
        <div class="accordion-inner">
          <a ng-href="mailto:{{ contactInfo.EMAIL }}" class="btn btn-primary">{{ contactInfo.EMAIL }}</a>
        </div>
      </div>
    </div>
    <a ng-if="mapHref" ng-href="{{ mapHref }}">
      <img src="/static/img/icons/location.svg" alt="location.svg" class="icon">
      In Person
    </a>
  </div>
</div>
