.social-icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.zoe-title {
    font-size: 36px;
}    

.zoe-title {
    color: #333333;
}

.zoe-subtitle {
    vertical-align: bottom;
    padding-bottom: 0px;
    padding-left: 12px;
    font-size: 32px;
}

.zoe-title:hover, .zoe-subtitle:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .social-media {
        position: absolute;
        right: 0; top: 0;
    }
}