<zoe-header ng-controller="HomeHeaderController"></zoe-header>
<div class="row-fluid text-center">
  <div class="span6" id="zoe-home-left" ng-controller="ServicesHeaderController">
    <a href="/services/" class="zoe-home-section">Our Services</a>
    <div ng-repeat="item in navItems" class="zoe-home-subsection">
      <a ng-href="{{ item.href }}" class="{{ item['class'] }}">{{ item.text }}</a>
    </div>
  </div>
  <div class="span6" id="zoe-home-right" ng-controller="SupportHeaderController">
    <a href="/support/" class="zoe-home-section">Support Us</a>
    <div ng-repeat="item in navItems" class="zoe-home-subsection">
      <a ng-href="{{ item.href }}" class="{{ item['class'] }}">{{ item.text }}</a>
    </div>
  </div>
</div>
<zoe-footer></zoe-footer>
