<zoe-header ng-controller="SupportHeaderController"></zoe-header>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="hero-unit zoe-hero-support">
      <h2>Upcoming Events</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <img src="/static/img/banquet.png" style="width: 100%;" />
    </div>
    <div class="span6">
      <h3>ZoeCare's LIFE Banquet</h3>
      <p>When:  Thursday, October 1</p>
      <p>Where: The Commons, Journey Church at Baxter &amp; Love in Bozeman, MT</p>
      <p>Speaker: Jeffrey Dean - <a href="http://www.jeffreydean.com" zoe-href>www.jeffreydean.com</a></p>
      <p>Doors open at 6 p.m.</p>
      <p>To reserver your seats, call <a href="tel:4064869444">406-586-9444</a> or email Julie at <a href="mailto:julie@gotozoe.org">julie@gotozoe.org</a>.</p>
    </div>
  </div>
  <div class="row-fluid" ng-repeat="event in events">
    <div class="span9">
      <div class="container-fluid">
        <div class="row-fluid">
          <a ng-href="https://zoecare.nonprofiteasy.net/PublicPages/Event/Details.aspx?eid={{ event.id }}" zoe-href><h3>{{ event.title }}</h3></a>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <a ng-href="{{ mapURL(event) }}" zoe-href>
              <img src="/static/img/icons/location.svg" alt="location.svg" class="icon">
              {{ event.venue }}
            </a>
          </div>
          <div class="span6">
            <img src="/static/img/icons/calendar.svg" alt="calendar.svg" class="icon">
            {{ event.schedule }}
          </div>
        </div>
      </div>
    </div>
    <div class="span3">
      <img ng-if="event.image" ng-src="{{ event.image }}" alt="event image" class="hidden-phone img-rounded events-image">
    </div>
  </div>
  <!-- <div class="row-fluid" ng-show="!events.length"> -->
  <!--   <p>Sorry, no events are scheduled for the near future.  Please check back later.</p> -->
  <!-- </div> -->
</div>
<zoe-footer></zoe-footer>
