body {
    padding-top: 130px;
    padding-bottom: 40px;
}

.accordion-heading a {
    font-size: 18px;
    margin: 6px;
}

.icon {
    width: 32px;
    height: 32px;
    padding-right: 8px;
}

.social-icon {
    width: 24px;
    height: 24px;
    padding-left: 12px;
}
