@media (min-width: 769px) {
    body {
	background: url(/static/img/background.jpg) no-repeat top center fixed;
	background-size: cover;
    }
    #body {
	background-color: rgba(256, 256, 256, 0.875);
	padding-bottom: 40px;
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 4px;
    }
    .social-media {
	position: absolute;
	right: 0; top: 0;
    }
}

a, h1, h2, h3, h4, h5, h6 {
    color: #00546b;
}

.extra-nav {
    padding: 30px;
}

.slogan {
    font-family: Zapf Chancery, Mistral;
    font-size: 28px;
    color: #00546b;
    padding-bottom: 8px;
}

.nav {
    padding-top: 6px;
}

.navbar .nav>li>a {
    color: #00546b;
    font-size: 18px;
}

.accordion-heading a {
    font-size: 18px;
    margin: 6px;
}

.icon {
    width: 32px;
    height: 32px;
    padding-right: 8px;
}

.social-icon {
    width: 24px;
    height: 24px;
    padding-left: 8px;
}

.zoe-title {
    font-size: 36px;
}    

.zoe-title {
    color: #333333;
}

.zoe-subtitle {
    vertical-align: bottom;
    padding-left: 12px;
    font-size: 32px;
}

.zoe-title:hover, .zoe-subtitle:hover {
    text-decoration: none;
}

.navbar-inverse .zoe-title {
    color: white;
}

.navbar-inverse .zoe-subtitle {
    color: #999999;
}

img.staff {
    height: 256px;
}

.staff {
    padding: 24px;
}

.hero-unit {
    padding: 60px 40px 1px 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-unit h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.hero-unit h1, .hero-unit h2 {
    color: white;
}

.pregnancy .hero-unit {
    background-image: url(/static/img/headers/pregnancy.jpg);
    color: white;
}

.campus-header {
    background-image: url(/static/img/headers/faces.jpg);
    color: white;
}

.sti .hero-unit {
    background-image: url(/static/img/headers/feet.jpg);
    color: white;
}

.contact-header {
    background-image: url(/static/img/headers/girl.jpg);
    color: white;
}

.about-header {
    background-image: url(/static/img/headers/penny.jpg);
    color: white;
}

.sidebar-info {
    border-color: #C8D6DF;
    background-color: #E8F6FF;
}