.zoe-img {
    max-width: 200px;
    margin: 12px;
}

.zoe-img-left {
    margin-left: 0;
}

.zoe-img-right {
    margin-right: 0;
}

.zoe-img-caption {
    color: grey;
    font-style: italic;
    font-size: 12px;
}