<zoe-header ng-controller="SupportHeaderController"></zoe-header>
<div class="container-fluid ng-scope" id="dash-content">
  <div class="row-fluid">
    <img src="/static/zoe/img/dash.png" alt="dash.png" id="dash-img" class="img-rounded" style="display: block; margin: 0px auto; max-width: 50%;">
  </div>
  <div ng-repeat="division in divisions">
    <h3>{{ division.name }}</h3>
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Notes</th>
      </tr>
      <tr ng-repeat="result in division.results">
        <td>{{ result.name }}</td>
        <td>{{ result.time | date:'HH:mm:ss.sss' }}</td>
        <td>{{ result.notes }}</td>
      </tr>      
    </table>
  </div>
</div>
<zoe-footer></zoe-footer>
