<zoe-header ng-controller="SupportHeaderController"></zoe-header>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="hero-unit zoe-hero-support">
      <h2>Upcoming Events</h2>
    </div>
  </div>
  <div class="row-fluid" ng-repeat="event in events">
    <img ng-if="event.image" ng-src="{{ event.image }}" alt="event image" class="hidden-phone img-rounded events-image">
    <a ng-href="https://zoecare.nonprofiteasy.net/PublicPages/Event/Details.aspx?eid={{ event.id }}" zoe-href>{{ event.title }}</a>
    <a ng-if="event.address" ng-href="{{ mapURL(event) }}" zoe-href>
      <img src="/static/img/icons/location.svg" alt="location.svg" class="icon">
      {{ event.address }}
    </a>
  </div>
</div>
<zoe-footer></zoe-footer>
