<zoe-header ng-controller="SupportHeaderController"></zoe-header>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="hero-unit zoe-hero-support">
      <h2>Upcoming Events</h2>
    </div>
    <div ng-repeat="event in events">
      <img ng-if="event.image" ng-src="{{ event.image }}" alt="event image" class="hidden-phone img-rounded events-image">
      <a ng-href="https://zoecare.nonprofiteasy.net/PublicPages/Event/Details.aspx?eid={{ event.id }}">{{ event.title }}</a>
    </div>
  </div>
</div>
<zoe-footer></zoe-footer>
