#zoe-home-left, #zoe-home-right {
    margin: 0;
    padding: 48px;
}

#zoe-home-right {
    border-left: solid #CCCCCC 1px;
}

.zoe-home-section {
    font-size: 25px;
}

.zoe-home-subsection {
    padding-top: 16px;
    font-size: 21px;
}