@media (min-width: 768px) {
    body {
        background: url(../img/background.jpg) no-repeat top center fixed;
        background-size: cover;
    }
    #body {
        background-color: rgba(256, 256, 256, 0.65);
        padding-bottom: 40px;
        max-width: 1024px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 4px;
    }
}

a, h1, h2, h3, h4, h5, h6 {
    color: #00546b;
}

.icon {
    width: 32px;
    height: 32px;
}

.hero-unit {
    padding: 60px 40px 1px 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-unit h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.hero-unit h1, .hero-unit h2 {
    color: white;
}

.accordion-heading a {
    font-size: 18px;
    margin: 6px;
}

.zoe-side-info {
    border-color: #C8D6DF;
    background-color: #E8F6FF;
}
