@media (min-width: 769px) {
    body {
        background: url(/static/app/common/img/background.jpg) no-repeat top center fixed;
        background-size: cover;
    }
    #body {
        background-color: rgba(256, 256, 256, 0.875);
        padding-bottom: 40px;
        max-width: 1024px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 4px;
    }
}

a, h1, h2, h3, h4, h5, h6 {
    color: #00546b;
}

.accordion-heading a {
    font-size: 18px;
    margin: 6px;
}

.icon {
    width: 32px;
    height: 32px;
}
